@CHARSET "UTF-8";

div#div_IP_Index_Area_Result {
	
	background: palegreen;	/* #98FB98 */
	
	/*ref https://www.w3schools.com/CSSref/pr_dim_min-height.asp*/
	min-height: 50px;
	
	font-size: 25px;
	
	margin	: 10px;
	padding		: 5px;
	
}/*div_IP_Index_Area_Result*/



