@CHARSET "UTF-8";


div#area_result {
	
	background: #A4F7B6;
	
	/*ref https://www.w3schools.com/CSSref/pr_dim_min-height.asp*/
	min-height: 50px;
	
	font-size: 25px;
	
	margin	: 10px;
	padding		: 5px;
	
}/*div#area_result {*/


