@CHARSET "UTF-8";


textarea.basic_ta_1 {
	
	height:	50px;
	width:	150px;
	
	background: #81BEF7;
	
	margin-top:	20px
}

input.basic_ta_1 {
	
	height:	30px;
	width:	250px;
	
	background: #81BEF7;
	
	margin-top:	20px
}

input[type="submit"] {
	
	background: #81BEF7;
	color:		green;
	
}

a.navi_top_bottom {
	
	color: blue;
	
	/*background: #81BEF7;*/
	
}

a.has_link {
	
	color: blue;
	
	text-decoration:	underline;
	
}

a.button {
    color: #4e4e4e;
    /*color: #6e6e6e;*/
    font: bold 20px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #81BEF7;
    
    border: solid 1px #86B404;
    /*border: solid 1px #dcdcdc;*/
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 20px;
    cursor:pointer;
}

table#view_file_info {

	border: 2px solid #555;
	
}

table#view_file_info tr td {

	border: 2px solid #555;
	
}

table#image_data tr td {

	border: 2px solid #555;
	
}

table#image_data tr th {

	border: 2px solid blue;
	
	text-align:	center;
	
	background:	#D5FF80;
	
}

table#view_file_info tr td.label {

	background: #D5FF80;
	
	width: 200px;
	
}

span.Pg_first a {
	
	color: purple;
	
}

span.Pg_last a {
	
	color: purple;
	
}

span.Pg_prev {
	
	color: purple;
	
}

span.Pg_prev a {
	
	color: blue;
	
}

span.Pg_next {
	
	color: purple;
	
}

span.Pg_next a {
	
	color: blue;
	
}

/*
a[rel='prev'] {
	
	color: yellow;
	
}
*/

div.pagination {
	
	background: #A4F7B6;
	
}

/* REF http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972 */
@viewport {
    zoom: 1.0;
    width: device-width;
}

tr.tr_images {
	
	border: 1px solid black;
/*	text-align:	center;
	
	width:	5%;
	
	background:	#D4C9ED;*/
	
}

th.th_images_blue {

	border: 2px solid blue;
	
	/*width:	5%;*/
}

th.th_images_green {

	border: 2px solid green;
	
}

th.th_images_Teal {

	border: 2px solid teal;
	
}

th.th_images_Olive {

	border: 2px solid olive;
	
}

td.td_images_ID {

	/*width:	5%;*/
	border: 2px solid blue;
	
}

td.td_images_TableName {

	border: 2px solid green;
	
}

td.td_images_FileName {

	border: 2px solid green;
	
}

td.td_images_Memo {

	border: 2px solid teal;
	
}

td.td_images_CreatedAt {

	border: 2px solid olive;
	
}

td.td_images_ModifiedAt {

	border: 2px solid olive;
	
}

#image {
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}

#container.rotate90 #image {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
    /*
    position: absolute;
    float: left;
    */
    
    	
}
#container.rotate180 #image {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}
#container.rotate270 #image {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
    
    position: absolute;
    
}

button#rotate_back {
	
	background-color:#FFFF00;
	color: blue;	
}

button.zoom_button {
	
	font-size: 15px;
	background-color: yellow;
	font-weight: bold;
	
}
