@CHARSET "UTF-8";


textarea.basic_ta_1 {
	
	height:	50px;
	width:	150px;
	
	background: #81BEF7;
	
	margin-top:	20px
}

input.basic_ta_1 {
	
	height:	30px;
	width:	250px;
	
	background: #81BEF7;
	
	margin-top:	20px
}

input[type="submit"] {
	
	background: #81BEF7;
	color:		green;
	
}

a.navi_top_bottom {
	
	color: blue;
	
	/*background: #81BEF7;*/
	
}

span.Pg_first a {
	
	color: purple;
	
}

span.Pg_last a {
	
	color: purple;
	
}

span.Pg_prev {
	
	color: purple;
	
}

span.Pg_prev a {
	
	color: blue;
	
}

span.Pg_next {
	
	color: purple;
	
}

span.Pg_next a {
	
	color: blue;
	
}

/*
a[rel='prev'] {
	
	color: yellow;
	
}
*/

div.pagination {
	
	background: #A4F7B6;
	
}